<h2>
	A propos de crystalData<br>
	<small>crystalData vous permet de créer des feuilles de données (tables) et de les partager en ligne avec d'autres utilisateurs</small>
</h2>
<br>

<div class="table-responsive">
	<table class="table-striped table-bordered"> 
		<tr>
			<td style="width:47%">
				<h3>
					<i style="margin-left:20px;">
						Créez ou importez vos feuilles de données Excel (csv)
					</i> 
				</h3>
			</td>
			<td>
				<%= image_tag image_path("screen-lg.png"), width:'100%', id:"imageresource-lg1", class:"img-thumbnail" %>
			</td>
		</tr>
		<tr>
			<td>
				<%= image_tag image_path("screen-lg-filtre.png"), width:'100%', id:"imageresource-lg4", class:"img-thumbnail" %>
			</td>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Recherchez, filtrez, triez vos données
					</i> 
				</h3>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Editez les enregistrements dans un formulaire<br>
						<small style="margin-left:50px;">Chaque modification est consignée dans un historique</small>
					</i> 
				</h3>
			</td>
			<td>
				<%= image_tag image_path("screen-lg-form.png"), width:'100%', id:"imageresource-lg3", class:"img-thumbnail" %>
			</td>
		</tr>
		<tr>
			<td>
				<%= image_tag image_path("screen-lg-modif.png"), width:'100%', id:"imageresource-lg2", class:"img-thumbnail" %>
			</td>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Ajoutez de nouvelles colonnes<br><br>
					</i> 

					<small style="margin-left:20px;">Formats:</small><br>
					<ul><li>Texte</li><li>Nombre</li><li>Euros</li><li>Date</li><li>Oui/Non</li><li>Liste de choix</li>
						<li>Champ calculé (formule en langage <%= link_to "Ruby","https://www.ruby-lang.org/fr/documentation/quickstart/", :target => "_blank" %>)</li>
						<li>Fichier</li>
						<li>Signature manuscrite</li>
					</ul>
				</h3>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Partagez vos données avec d'autres utilisateurs
					</i> 
				</h3>
			</td>
			<td>
				<%= image_tag image_path("screen-lg-partage.png"), width:'100%', id:"imageresource-lg5", class:"img-thumbnail" %>
			</td>
		</tr>
		<tr>
			<td>
				<%= image_tag image_path("screen-lg-excel2.png"), width:'100%', id:"imageresource-lg6", class:"img-thumbnail" %>
			</td>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Exportez vos données vers un tableur
					</i> 
				</h3>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					<i style="margin-left:20px;">Suivez l'activité de chaque table</i> 
					<br><br>	
					<i style="margin-left:20px;">Recevez une notification après chaque ajout de données</i>
				</h3>
			</td>
			<td>
				<%= image_tag image_path("screen-lg-chart.png"), width:'100%', id:"imageresource-lg8", class:"img-thumbnail" %>
			</td>
		</tr>
		<tr>
			<td>
				<%= image_tag image_path("screen-sm-1.png"), width:'32%', id:"imageresource-sm-1", class:"img-thumbnail" %>
				<%= image_tag image_path("screen-sm-2.png"), width:'32%', id:"imageresource-sm-2", class:"img-thumbnail" %>
				<%= image_tag image_path("screen-sm-3.png"), width:'32%', id:"imageresource-sm-3", class:"img-thumbnail" %>
			</td>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Accédez à vos données en mobilité<br>
					 	<small style="margin-left:50px;">
					 		Les écrans s'adaptent automatiquement à la taille d'un écran de smartphone</small>
					</i> 
				 </h3>
			</td>
		</tr>
	</table>
</div>
<br><br>