<h4>
	crystalData permet de créer des feuilles de données (tables) ou d'importer des feuilles Excel et de les partager en ligne avec d'autres utilisateurs
</h4>
<%= link_to image_tag(image_path("screen-lg.png"), width:'100%', id:"imageresource-lg1", class:"img-thumbnail"), image_path("screen-lg.png") %>
<hr>

<h4>Ajoutez de nouvelles colonnes</h4>
Formats:<br>
<ul><li>Texte</li><li>Nombre</li><li>Euros</li><li>Date</li><li>Oui/Non</li><li>Liste de choix</li>
	<li>Champ calculé (formule en langage <%= link_to "Ruby","https://www.ruby-lang.org/fr/documentation/quickstart/", :target => "_blank" %>)</li>
	<li>Fichier</li>
	<li>Signature manuscrite</li>
</ul>
<%= link_to image_tag(image_path("screen-lg-modif.png"), width:'100%', id:"imageresource-lg2", class:"img-thumbnail"), image_path("screen-lg-modif.png") %>
<hr>

<h4>Editez les enregistrements dans un formulaire</h4>
<%= link_to image_tag(image_path("screen-lg-form.png"), width:'100%', id:"imageresource-lg3", class:"img-thumbnail"), image_path("screen-lg-form.png") %>
Chaque modification est consignée dans un historique
<hr>

<h4>Recherchez, filtrez, triez vos données</h4>
<%= link_to image_tag(image_path("screen-lg-filtre.png"), width:'100%', id:"imageresource-lg4", class:"img-thumbnail"), image_path("screen-lg-filtre.png") %>
<hr>

<h4>Partagez vos données avec d'autres utilisateurs</h4>
<%= link_to image_tag(image_path("screen-lg-partage.png"), width:'100%', id:"imageresource-lg5", class:"img-thumbnail"), image_path("screen-lg-partage.png") %>
<hr>

<h4>Exportez vos données vers un tableur</h4>
<%= link_to image_tag(image_path("screen-lg-excel2.png"), width:'100%', id:"imageresource-lg6", class:"img-thumbnail"), image_path("screen-lg-excel2.png") %>
<hr>

<h4>Suivez l'activité de chaque table</h4>
<%= link_to image_tag(image_path("screen-lg-chart.png"), width:'100%', id:"imageresource-lg8", class:"img-thumbnail"), image_path("screen-lg-chart.png") %>
Recevez une notification après chaque ajout de données
<hr>

<h4>Accédez à vos données en mobilité</h4>
<%= link_to image_tag(image_path("screen-sm-1.png"), width:'32%', id:"imageresource-sm-1", class:"img-thumbnail"), image_path("screen-sm-1.png") %>
<%= link_to image_tag(image_path("screen-sm-2.png"), width:'32%', id:"imageresource-sm-2", class:"img-thumbnail"), image_path("screen-sm-2.png") %>
<%= link_to image_tag(image_path("screen-sm-3.png"), width:'32%', id:"imageresource-sm-3", class:"img-thumbnail"), image_path("screen-sm-3.png") %>
Les écrans s'adaptent automatiquement à la taille d'un écran de smartphone<br>
<hr>
