<h2>
	A propos de crystalData<br>
	<small>crystalData permet de créer des feuilles de données (tables) et de les partager en ligne</small>
</h2>
<br>

<div class="table-responsive">
	<table class="table-striped table-hover"> 
		<tr>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Créez ou importez vos feuilles de données Excel
					</i> 
				</h3>
			</td>
			<td>
				<a href="#pop-lg1" id="pop-lg1">
					<%= image_tag image_path("screen-lg.png"), width:'100%', id:"imageresource-lg1", class:"img-thumbnail" %>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#pop-lg4" id="pop-lg4">
					<%= image_tag image_path("screen-lg-filtre.png"), width:'100%', id:"imageresource-lg4", class:"img-thumbnail" %>
				</a>
			</td>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Recherchez, filtrez, triez vos données
					</i> 
				</h3>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Editez les enregistrements dans un formulaire<br>
						<small style="margin-left:50px;">Chaque modification est consignée dans un historique</small>
					</i> 
				</h3>
			</td>
			<td>
				<a href="#pop-lg3" id="pop-lg3">
					<%= image_tag image_path("screen-lg-form.png"), width:'100%', id:"imageresource-lg3", class:"img-thumbnail" %>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#pop-lg2" id="pop-lg2">
					<%= image_tag image_path("screen-lg-modif.png"), width:'100%', id:"imageresource-lg2", class:"img-thumbnail" %>
				</a>
			</td>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Ajoutez de nouvelles colonnes<br><br>
					</i> 

					<small style="margin-left:20px;">Formats:</small><br>
					<ul><li>Texte</li><li>Nombre</li><li>Euros</li><li>Date</li><li>Oui/Non</li><li>Liste de choix</li>
						<li>Champ calculé (formule <%= link_to "Ruby","https://www.ruby-lang.org/fr/documentation/quickstart/", :target => "_blank" %>)</li>
						<li>Fichier</li>
					</ul>
				</h3>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Partagez vos données avec d'autres utilisateurs
					</i> 
				</h3>
			</td>
			<td>
				<a href="#pop-lg5" id="pop-lg5">
					<%= image_tag image_path("screen-lg-partage.png"), width:'100%', id:"imageresource-lg5", class:"img-thumbnail" %>
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#pop-lg6" id="pop-lg6">
					<%= image_tag image_path("screen-lg-excel2.png"), width:'100%', id:"imageresource-lg6", class:"img-thumbnail" %>
				</a>
			</td>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Exportez vos données vers un tableur
					</i> 
				</h3>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Visualisez vos données en mobilité<br>
					 	<small style="margin-left:50px;">Les écrans s'adaptent automatiquement à la taille d'un écran de smartphone</small>
					</i> 
				 </h3>
			</td>
			<td>
				<a href="#pop-sm1" id="pop-sm1"><%= image_tag image_path("screen-sm-1.png"), width:'33%', id:"imageresource-sm-1", class:"img-thumbnail" %></a>
				<a href="#pop-sm2" id="pop-sm2"><%= image_tag image_path("screen-sm-2.png"), width:'32%', id:"imageresource-sm-2", class:"img-thumbnail" %></a>
				<a href="#pop-sm3" id="pop-sm3"><%= image_tag image_path("screen-sm-3.png"), width:'33%', id:"imageresource-sm-3", class:"img-thumbnail" %></a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#pop-lg8" id="pop-lg8">
					<%= image_tag image_path("screen-lg-chart.png"), width:'100%', id:"imageresource-lg8", class:"img-thumbnail" %>
				</a>
			</td>
			<td>
				<h3>
					<i style="margin-left:20px;">Graphique d'activité</i> 
					<br><br>	
					<i style="margin-left:20px;">Notification mail à chaque ajout de données (option)</i>
				</h3>
			</td>
		</tr>
	</table>
</div>
<br><br><br>

<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" data-dismiss="modal">
    <div class="modal-content">
	    <div class="modal-header"></div>
        <img src="" id="imagepreview-lg" style="width: 100%;">
	    <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
		</div>
    </div>
  </div>
</div>
<div class="modal fade" id="imagemodal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm" data-dismiss="modal">
    <div class="modal-content">
	    <div class="modal-header"></div>
        <img src="" id="imagepreview-sm" style="width: 100%;">
	    <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
		</div>
    </div>
  </div>
</div>
