<h2>
	A propos de crystalData<br>
</h2>
<h3>
	crystalData permet de créer des tables de données à partir de feuilles Excel et de les partager en ligne
</h3>
<hr>

<h4>
	Développeur d'applications métiers depuis plus de 20 ans, j'ai très souvent aidé mes clients à passer d'un système d'information en silos, où les données critiques de l'entreprise sont enfermées dans des feuilles Excel, à un système de type plateforme où les données sont centralisées, partagées entre les services, et qui permet à la direction d'avoir une vue d'ensemble.
	<br><br>
	A force de mettre en place ce type de solution transversale de gestion, j'ai remarqué que des motifs se répétaient et qu'à chaque nouveau projet les besoins de base des utilisateurs étaient toujours les mêmes, à savoir :
	<br><br>

	<ul>
		<li>1 - Importer les données d'Excel</li>
		<li>2 - Accéder aux données de n'importe où</li>
		<li>3 - Saisir, modifier, rechercher, filtrer</li>
		<li>4 - Partager les données en toute sécurité</li>
	</ul>
	<br>

	C'est pourquoi j'ai développé crystalData, afin d'offrir les premiers services d'un système de type plateforme et d'aider ainsi les entreprises à franchir un premier pas vers le décloisonnement de leurs données et poser les fondations d'un système ouvert pour une gestion efficace, collaborative et centrée sur leurs objectifs.
	<br><br>
	Philippe NOUGAILLON 
</h4>
<br><br>

<div class="table-responsive">
	<table class="table-striped table-bordered"> 
		<tr>
			<td style="width:47%">
				<h3>Créer des tables de données à partir de feuilles Excel</h3>
			</td>
			<td>
				<%= link_to image_tag(image_path("screen-lg.png"), width:'100%', id:"imageresource-lg1", class:"img-thumbnail"), image_path("screen-lg.png") %>
			</td>
		</tr>
		<tr>
			<td>
				<%= link_to image_tag(image_path("screen-lg-modif.png"), width:'100%', id:"imageresource-lg2", class:"img-thumbnail"), image_path("screen-lg-modif.png") %>
			</td>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Ajoutez de nouvelles colonnes<br><br>
					</i> 

					<small style="margin-left:20px;">Formats:</small><br>
					<ul><li>Texte</li><li>Nombre</li><li>Euros</li><li>Date</li><li>Oui/Non</li><li>Liste de choix</li>
						<li>Champ calculé (formule en langage <%= link_to "Ruby","https://www.ruby-lang.org/fr/documentation/quickstart/", :target => "_blank" %>)</li>
						<li>Fichier</li>
						<li>Signature manuscrite</li>
					</ul>
				</h3>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Ajoutez, éditez vos enregistrements dans un formulaire<br>
						<small style="margin-left:50px;">Chaque modification est consignée dans un historique (qui, quand, quoi)</small>
					</i> 
				</h3>
			</td>
			<td>
				<%= link_to image_tag(image_path("screen-lg-form.png"), width:'100%', id:"imageresource-lg3", class:"img-thumbnail"), image_path("screen-lg-form.png") %>
			</td>
		</tr>
		<tr>
			<td>
				<%= link_to image_tag(image_path("screen-lg-filtre.png"), width:'100%', id:"imageresource-lg4", class:"img-thumbnail"), image_path("screen-lg-filtre.png") %>
			</td>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Recherchez, filtrez, triez vos données
					</i> 
				</h3>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Partagez vos données avec d'autres utilisateurs
					</i> 
				</h3>
			</td>
			<td>
				<%= link_to image_tag(image_path("screen-lg-partage.png"), width:'100%', id:"imageresource-lg5", class:"img-thumbnail"), image_path("screen-lg-partage.png") %>
			</td>
		</tr>
		<tr>
			<td>
				<%= link_to image_tag(image_path("screen-lg-excel2.png"), width:'100%', id:"imageresource-lg6", class:"img-thumbnail"), image_path("screen-lg-excel2.png") %>
			</td>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Exportez vos données vers un tableur
					</i> 
				</h3>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					<i style="margin-left:20px;">Suivez l'activité de chaque table</i> 
					<br><br>	
					<i style="margin-left:20px;">Recevez une notification après chaque ajout de données</i>
				</h3>
			</td>
			<td>
				<%= link_to image_tag(image_path("screen-lg-chart.png"), width:'100%', id:"imageresource-lg8", class:"img-thumbnail"), image_path("screen-lg-chart.png") %>
			</td>
		</tr>
		<tr>
			<td>
				<%= link_to image_tag(image_path("screen-sm-1.png"), width:'32%', id:"imageresource-sm-1", class:"img-thumbnail"), image_path("screen-sm-1.png") %>
				<%= link_to image_tag(image_path("screen-sm-2.png"), width:'32%', id:"imageresource-sm-2", class:"img-thumbnail"), image_path("screen-sm-2.png") %>
				<%= link_to image_tag(image_path("screen-sm-3.png"), width:'32%', id:"imageresource-sm-3", class:"img-thumbnail"), image_path("screen-sm-3.png") %>
			</td>
			<td>
				<h3>
					<i style="margin-left:20px;">
						Accédez à vos données en mobilité<br>
					 	<small style="margin-left:50px;">
					 		Les écrans s'adaptent automatiquement à la taille d'un écran de smartphone</small>
					</i> 
				 </h3>
				 <%= image_tag("http://tripodsoftware.co.uk/img/mobile_logos.png", width:'70%') %>
			</td>
		</tr>
	</table>
</div>
<br><br>