<%= bootstrap_form_for(@table) do |f| %>

<div class="form-group">
    <%= f.text_field :name, required: true, label: "Nom de la table", placeholder: 'Ex: Articles', autofocus: true, class: "col-sm-3" %>
    <br /><br />
    <%= f.check_box :notification, label: "Notification ? Si vous voulez être notifié à chaque nouvel ajout de données" %>
    <%= f.check_box :lifo, label: "Afficher d'abord les contenues les plus récents ? Afficher le contenu de la table trié par date de modification (le dernier modifié en haut)" %>
    <br><br>

    <%= f.submit @table.new_record? ? "Continuer" : "Modifier cette table", class: 'btn btn-success' %>
</div>

<% end %>
