<%= simple_form_for(@table) do |f| %>

  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <div class="col-sm-9">

      <%= f.input :name, label:false, placeholder: 'Nom de la nouvelle table', :input_html => {size:30} %>
      <br>

      <%= f.input :notification, label:"Notification ?", hint:"Voulez-vous être notifié à chaque nouvel ajout de données ?" %>
      <%= f.input :lifo, label:"Lifo ?", hint:"Afficher la liste triée par date de modification (plus récents en premier)" %>
      <br><br>

      <%= f.submit @table.new_record? ? "Créer cette table" : "Modifier cette table", class: 'btn btn-success' %>
  </div>  
</div>

<% end %>
