<h2>
  <i class="glyphicon glyphicon-share"></i> 
	Partager la table '<%= @table.name.humanize %>' avec un autre utilisateur</h2>
<br>

<%= form_for :user, url: '/add_user_do' do %>

  <%= hidden_field_tag :id, params[:id] %>

  <div class="field form-group">
  		<div class="col-sm-5">
		    <h4>Entrez l'adresse mail de son compte</h4>
        <%= text_field_tag :email, nil, class:'form-control'  %>
        <i><small>Si l'utilisateur n'en a pas encore, <%= link_to "créez-lui un compte", signup_path %></small></i>
		</div>
  </div>
  <br>
  <br>

  <%= submit_tag "Partager", class: 'btn btn-success' %>

<% end %>