<h1>Formulaire '<%= @table.name.humanize %>'</h1>

<%= form_tag do %>

  <%= hidden_field_tag :table_id, @table.id %>

  <% @table.fields.each do |field| %>
      <% field_name = "[data][#{@record_index}][#{field.id}]" %> 
      <% value = field.values.find_by(record_index:@record_index) %> 
      <% field_value = value.data if value %>

      <div class="field form-group">
          <h3><%= label_tag truncate(field.name, length:20), nil %></h3>

          <div class="input-group-lg">
              <% if field.datatype == "texte" %>  
                  <%= text_field_tag field_name, field_value, class: 'form-control' %>
              <% elsif field.datatype == "nombre" %>
                  <%= number_field_tag field_name, field_value, class: 'form-control' %>
              <% elsif field.datatype == "euros" %>  
                  <%= number_field_tag field_name, field_value, step: 'any', class: 'form-control' %> €
              <% elsif field.datatype == "date" %>
                  <%= text_field_tag field_name, field_value, class: 'datepicker form-control', size:6 %>
              <% elsif field.datatype == "oui_non?" %>
                  <%= radio_button_tag field_name, 'Oui', (field_value == 'Oui'), class: 'form-control' %> Oui
                  <%= radio_button_tag field_name, 'Non', (field_value == 'Non'), class: 'form-control' %> Non
              <% elsif field.datatype == "liste" %>
                  <%= select_tag field_name, options_for_select(field.items.split(","), field_value), 
                        include_blank: true, class: 'form-control' %>
              <% elsif field.datatype == "formule" %>
                  <% field_value = field.evaluate(@table.values.records_at(@record_index).pluck(:data)) %>
                  <%= text_field_tag field_name, field_value, class: 'form-control', disabled:true %>
              <% elsif field.datatype == "fichier" %>
                  <%= file_field_tag field_name, class: 'form-control' %>
              <% end %>
          </div>
      </div>
  <% end %>  
  <br><br>

  <div class="actions">
     <%= submit_tag "Enregistrer", class: 'btn-lg btn-success'%>
     | <%= link_to 'Retour', @table %>
  </div>
<% end %>
<br><br>

