<h2>Tables</h2>

<% if @tables.any? %>
  <table class="table table-striped table-hover table-bordered table-responsive">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Colonnes</th>
        <th>Nb Lignes</th>
        <th>Màj</th>
        <th>Utilisateurs</th>
        <th></th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td /><td /><td /><td />
      </tr>
    </tfoot>

    <tbody>
      <% @tables.each do |table| %>
        <tr>
          <td><b><%= link_to table.name.humanize, table %></b></td>
          <td><%= table.fields.pluck(:name).join(", ") %></td>
          <td class="text-right"><%= table.size %></td>
          <td><%= "Il y a #{time_ago_in_words(table.values.maximum(:updated_at))}" if table.values.any? %></td>
          <td>
            <%= table.users.pluck(:name).join(', ') %>
            <% if table.is_owner?(@current_user) %>
              <%= link_to partages_path(table), title:"Partager avec un autre utilisateur" do %><i class="glyphicon glyphicon-plus-sign"></i><% end %>
            <% end %>
          </td>
          <% if table.is_owner?(@current_user) %>
            <td>
              <%= link_to 'Modifier', show_attrs_path(id:table), title:"Modifier les colonnes", class: 'btn btn-info btn-xs' %>
              <%= link_to '[X]', table, method: :delete, data: { confirm: 'Vraiment?' }, class: 'btn btn-danger btn-xs' %>
            </td>
          <% end %>
          <td>
            <%= link_to logs_path(table_id:table), title:"Historique" do %><i class="glyphicon glyphicon-time"></i><% end %>
          </td>
          <td>
            <%= link_to table_path(table, format:'xls'), title:"Export Excel" do %><i class="glyphicon glyphicon-th"></i><% end %>
          </td>
        </tr>

      <% end %>
    </tbody>
  </table>
  <br>
<% end %>

<%= link_to new_table_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-plus"></i> Nouvelle Table
<% end %>

<%= link_to import_path, class: 'btn btn-success' do %>
    <i class="glyphicon glyphicon-download"></i> Importer
<% end %>
