<h2>
  <i class="glyphicon glyphicon-time"></i> 
  Historique des modifications
</h2>
<br>

<p>
  <%= form_tag(request.path, method: :get) do %>

    Utilisateur:
    <%= select_tag :user_id, options_from_collection_for_select(@table.users, "id", "name", params[:user_id]), include_blank:true, onchange: 'this.form.submit()'%>

    Action:
    <%= select_tag :type_action, options_for_select(Log.actions, params[:type_action]), include_blank:true, onchange: 'this.form.submit()' %>

    <%= submit_tag 'Filtrer', class: 'btn btn-success' %>
  <% end %>
</p>
<br>

<table class="table table-hover table-bordered sticky">
  <thead>
    <tr>
      <th>Le</th>
      <th>Qui</th>
      <th>Action</th>
      <th>Ligne</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td>
          <%= l(log.created_at) %>
          (il y a <%= time_ago_in_words(log.created_at) %>)
        </td>
        <td><%= log.user.name.humanize %></td>
        <td><%= log.action.humanize %></td>
        <td class="text-right"><%= log.record_index %></td>
        <td>
          '<%= log.field.name %>' = <%= log.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @logs, renderer: BootstrapPagination::Rails %>
<br>

<%= pluralize(@logs.count, "modification") %>
<%= "affichée".pluralize(@logs.count) %>




