<br>
<h2>Liste des partages de la table '<%= @table.name.humanize %>'</h2>
<br>

<table class="table table-striped table-hover table-bordered table-responsive">
	<thead>
		<tr>
			<th>Nom</th><th>Adresse mail</th><th />
		</tr>
	</thead>

	<% @table.users.each do |user| %>
		<tr>
			<td><%= user.name %></td>
			<td><%= user.email %></td>
			<td>
				<% unless @table.is_owner?(user) %>
					<%= link_to "Annuler", annuler_partage_path(@table, user_id:user.id), title:"Annuler ce partage", 
						data: { confirm: 'Vraiment ??' }, class: 'btn btn-danger btn-sm' %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
<br><br>

<% if @table.is_owner?(@current_user) %>
  	<%= link_to add_user_path(@table), title:"Ajouter un partage avec un autre utilisateur" do %>
  		<i class="glyphicon glyphicon-plus-sign"></i> Ajouter un partage
  	<% end %>
<% end %>
