<h2>Table '<%= @table.name.humanize %>'</h2>

<%= link_to "Renommer", edit_table_path(@table), title:"Renommer cette table" %>
|
<%= link_to "Partages", partages_path(@table), title:"Voir les utilisateurs qui partagent de cette table" %>

<br><br>

<h3>Liste des colonnes</h3>
<table class="table table-striped table-hover table-bordered table-responsive">
	<thead>
		<tr>
			<th>#</th>
			<th>Nom</th>
			<th>Type</th>
			<th>Options</th>
		</tr>
	</thead>
	<% @table.fields.each_with_index do | field, index | %>
		<%= render partial:'fields/field', locals: {field:field, i:index} %>
	<% end %>
	<% unless @table.fields.any? %>
		<tr><td>Aucune colonne pour l'instant</td><td /><td /></tr>
	<% end %>
</table>

<h3>Créer une nouvelle colonne</h3>
<% if @field %>	
	<%= render partial:'fields/form' %>
<% end %>
