<h2>Table '<%= @table.name.humanize %>'
</h2>
<% if @table.is_owner?(@current_user) %>
	<small><%= link_to 'Modifier', show_attrs_path(id:@table), title:"Modifier les colonnes" %></small>
	<br><br>
<% end %>


<% if @table.fields.any? %>
	<p>
	  <%= form_tag(request.path, method: :get) do %>

	    Filtre: 
	    <%= text_field_tag :search, params[:search], onchange:'this.form.submit()' %>

	    <% @table.fields.filtres.each_with_index do | field,index | %>
		    <%= field.name %>:
		    <% default_value = params[:select] ? params[:select][index.to_s] : 'nil' %>
		    <%= select_tag "select[#{index}]", options_for_select(field.values.pluck(:data).uniq, default_value), include_blank:true, onchange:'this.form.submit()' %>
		<% end %>
		|
	    <%= submit_tag 'Appliquer', class: 'btn btn-success' %> 
	    | 
		<%= link_to fill_url(@table.id), class: 'btn btn-primary' do %>
		  <i class="glyphicon glyphicon-plus"></i> Ajouter
		<% end %>
	  <% end %>
	</p>

	<table class="table table-striped table-hover table-bordered sticky">
		<thead>
			<tr>
				<th />
				<% @table.fields.each do | field | %>
					<th>
						<%= link_to_unless field.datatype == 'formule', field.name, url_for(params.merge(sort_by:field.id)) %>
					</th>
				<% end %>
				<th />
				<th><%= link_to 'Màj', url_for(params.merge(sort_by:0)) %></th>
				<th /><th />
			</tr>
		</thead>

		<% if @records.any? %>
			<tbody>
				<% count = 0 %>	
		        <% updated_at_list = @table.values.group(:record_index).maximum(:updated_at) %>

				<% @records.each do | index | %>
					<% values = @table.values.records_at(index).order(:record_index,:field_id).pluck(:data) %>
					<% updated_at = updated_at_list[index] %>
					<% count += 1 %> 
					<tr>
						<td><%= link_to image_tag('modif.png'), fill_url(@table.id, record_index:index) %></td>
						<% @table.fields.each_with_index do | field,index | %>
							<td class="<%= @numeric_types.include?(field.datatype) ? 'text-right' : '' %>">
								<% if field.datatype == "formule" %>
									<%= field.evaluate(values) %>
								<% elsif field.datatype == "fichier" and values[index] %>
									<%= link_to(values[index].split('__').last, url_for("/table_files/" + values[index])) %>
								<% else %>
									<%= values[index] %>
									<% if field.sum %>
										<% @sum[field.id] += values[index].to_i %>
									<% end %>
								<% end %>
							</td>
						<% end %>
						<td />
						<td><%= l(updated_at) %></td>
			            <td><%= link_to logs_path(table_id:@table,record_index:index), title:"Historique" do %><i class="glyphicon glyphicon-time"></i><% end %></td>
						<td><%= link_to "Modifier", fill_url(@table.id, record_index:index), class: 'btn btn-info btn-xs' %>
							<%= link_to "[X]", delete_record_url(@table.id, record_index:index), method: :delete, data: { confirm: 'Vraiment ?' }, class: 'btn btn-danger btn-xs' %></td>
					</tr>
				<% end %>
			</tbody>

			<tfoot>
				<tr>
					<td />
					<% @table.fields.each do |field| %>
						<% if field.sum %>
							<td class="text-right">
								<%= @sum[field.id] %>
							</td>
						<% else %>
							<td />
						<% end %>
					<% end %>
					<td /><td /><td /><td />
				</tr>
			</tfoot>
		</table>
		<%= count %> sur <%= @table.size %> au total
		<br>
	<% else %>
	<tbody>
		<tr>
			<td />
			<td>
				Aucun enregistrement pour l'instant. Utilisez le bouton Ajouter pour saisir des données
			</td>
		</tr>
	</tbody>
	<% end %>
<% else %>
	<% unless params[:attrs] %>
		Cette table ne contient aucune colonne<br><br>
		<%= link_to show_attrs_path(id:@table), class: 'btn btn-success' do %>
		  <i class="glyphicon glyphicon-plus"></i> Ajouter une colonne
		<% end %> 
	<% end %>
<% end %>
<br><br>
