<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>

<% if @table.fields.any? %>
    <table id="table_list" style="border:0;">
      <thead>
        <tr>
          <th>#</th>
          <% @table.fields.each do | field | %>
            <th><%= field.name %></th>
          <% end %>
          <th>Modifié le</th>
        </tr>
      </thead>
      <tbody>
        <% count = 0 %> 
        <% updated_at_list = @table.values.group(:record_index).maximum(:updated_at) %>

        <% @records.each do | index | %>
          <% values = @table.values.records_at(index).order(:record_index,:field_id).pluck(:data) %>
          <% updated_at = updated_at_list[index] %>
          <% count += 1 %> 
          <tr>
            <td><%= index %></td>
            <% @table.fields.each_with_index do | field,index | %>
              <td>
                <% if field.datatype == "formule" %>
                  <%= field.evaluate(values) %>
                <% else %>
                  <%= values[index] %>
                <% end %>
              </td>
            <% end %>
            <td><%= l(updated_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
