<div class="page-header">
	<div class="btn-group pull-right">
	    <%= link_to fill_url(@table.id), class: 'btn btn-success' do %>
			<i class="glyphicon glyphicon-plus"></i> Ajouter
		<% end %>
    </div>

	<h1>
    	<span class="fa fa-table"></span>
    	<%= @table.name.humanize %>
	</h1>

	<% if @table.is_owner?(@current_user) %>
		<small>
			<%= link_to 'Modifier', show_attrs_path(id:@table), title:"Modifier les colonnes", data: { no_turbolink: true } %> 
			|
			<%= link_to "Partager", partages_path(@table), title:"Voir les utilisateurs qui partagent cette table" %>
			|
			<%= link_to 'Historique', logs_path(id:@table), title:"Historique des modifications" %> 
			|
          	<%= link_to 'Exporter', export_path(@table), title:"Exporter les données" %>
			<!--
			|
			<%= link_to 'Activité', activity_path(id:@table), title:"L'activité sous forme d'un graphique" %>
			-->
		</small>
		<br><br>
	<% end %>
</div>

<% if @table.fields.any? %>
	<%= form_tag(request.path, method: :get) do %>
			<div class="row">
				<div class="col-sm-3">
					<%= label_tag "Rechercher" %>
					<div class="input-group">
						<%= text_field_tag :search, params[:search], class:"form-control", onchange:'this.form.submit()' %>
						<span class="input-group-btn"> 
							<%= submit_tag 'Go', class:"form-control btn-success" %>
						</span>
					</div>
				</div>

				<% @table.fields.filtres.each do | field | %>
					<div class="col-sm-2">
						<%= label_tag "Filtrer par '#{field.name.humanize}'" %>
						<% default_value = params[:select] ? params[:select][field.id.to_s] : 'nil' %>
						<%= select_tag "select[#{field.id}]", options_for_select(field.values.records_at(@records).pluck(:data).uniq.sort, default_value), include_blank:true, class:"form-control", onchange:'this.form.submit()' %>
					</div>
				<% end %>
			</div>
	<% end %>
	<br>

	<table class="table table-striped table-hover table-bordered sticky">
		<thead>
			<tr>
				<!--
					<th />
				-->
				<% @table.fields.each_with_index do | field,index | %>
					<th>
						<%= link_to field.name.humanize, url_for(params.merge(sort_by:field.id)) %>
					</th>
					<% @td_style[index] = @numeric_types.include?(field.datatype) ? 'text-right' : nil %>
				<% end %>
				<!-- 
					<th><%= link_to 'Màj', url_for(params.merge(sort_by:0)) %></th>
				-->
				<th />
			</tr>
		</thead>

		<% if @records.any? %>
			<tbody>
				<% @records.each do | record_index | %>
					<% values = @table.values.joins(:field).records_at(record_index).order("fields.row_order").pluck(:data) %>
					<tr>
						<!--
						<td><%= link_to image_tag('modif.png'), fill_url(@table.id, record_index:record_index) %></td>
						-->
						<% @table.fields.each_with_index do | field,index | %>
							<% value = values[index] %>
							<td <%= "class=#{@td_style[index]}" if @td_style[index] %>>
								<% if field.datatype == "Fichier" and values[index] %>
									<%= link_to(value.split('__').last, url_for("/table_files/" + value)) %>
								<% elsif field.datatype == "Signature" and values[index] %>
									<%= link_to_modal("Oui", values_signature_path(table:@table, field:field, record_index:record_index),data: { no_turbolink: true }) %>
								<% else %>
									<%= value %>
								<% end %>
								<% if field.operation %>
									<% @sum[field.id] += value.to_f %>
								<% end %>
							</td>
						<% end %>
						<td style="text-align:right; width:160px">
							<%= link_to "Modifier", fill_url(@table.id, record_index:record_index), class: 'btn btn-info btn-xs' %>
							<%= link_to "[X]", delete_record_url(@table.id, record_index:record_index), method: :delete, data: { confirm: 'Vraiment ?' }, class: 'btn btn-danger btn-xs' %>
							<%= link_to logs_path(table_id:@table,record_index:record_index), title:"Historique des modifications" do %>
			            		<i class="glyphicon glyphicon-time"></i><% end %>
			            </td>
					
					</tr>
				<% end %>
			</tbody>

			<tfoot>
				<tr>
					<!--
						<td />
					-->
					<% @table.fields.each do |field| %>
						<% if field.operation %>
							<td class="text-right bg-primary">
								<% if field.Somme? %>
									<%= @sum[field.id] %>
								<% elsif field.Moyenne? %>
									<%= @sum[field.id] / @records.count %>
								<% end %>
							</td>
						<% else %>
							<td />
						<% end %>
					<% end %>
					<td />
				</tr>
			</tfoot>
		</table>
		<%= @records.count %> sur <%= @table.size %> au total 
		<br>
	<% end %>
<% else %>
	<% unless params[:attrs] %>
		Cette table ne contient aucune colonne<br><br>
		<%= link_to show_attrs_path(id:@table), class: 'btn btn-success' do %>
		  <i class="glyphicon glyphicon-plus"></i> Ajouter une colonne
		<% end %> 
	<% end %>
<% end %>
<br><br>
