<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>

<% if @table.fields.any? %>
    <table id="table_list" style="border:0;">
      <thead>
        <tr>
          <th>#</th>
          <% @table.fields.each do | field | %>
            <th><%= field.name %></th>
          <% end %>
          <th>Créé le</th>
          <th>Modifié le</th>
        </tr>
      </thead>
      <tbody>
        <% count = 0 %> 
        <% @records.each do | index | %>
          <% if @values.record_at(index) %>
            <% count += 1 %> 
            <% record = @values.record_at(index) %>
            <tr>
              <td><%= index %></td>
              <% @table.fields.each do | field | %>
                <td>
                  <% if field.values.record_at(index) %>
                    <% value = field.values.record_at(index) %>
                    <% if field.datatype == "formule" %>
                      <%= field.evaluate(@values.records_at(index).pluck(:data)) %>
                    <% else %>
                      <%= value.data %>
                    <% end %>
                    <% if field.sum %>
                      <% @sum[field.id] += data.to_i %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
              <td><%= l(record.created_at, format: :compact) %></td>
              <td><%= l(record.updated_at, format: :compact) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
<% end %>
