<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
</head>

<% if @table.fields.any? %>
    <table id="table_list" style="border:0;">
      <thead>
        <tr>
          <th>#</th>
          <% @table.fields.each do | field | %>
            <th><%= field.name %></th>
          <% end %>
          <th>Créé le</th>
          <th>Modifié le</th>
        </tr>
      </thead>
      <tbody>
        <% count = 0 %> 
        <% @records.each do | index | %>
          <% records = @values.records_at(index).order(:record_index,:field_id) %>
            <% count += 1 %> 
            <tr>
              <td><%= index %>
              <td><%= link_to image_tag('modif.png'), fill_url(@table.id, record_index:index) %></td>
              <% @table.fields.each_with_index do | field,index | %>
                <td>
                  <% if field.datatype == "formule" %>
                    <%= field.evaluate(records.pluck(:data)) %>
                  <% else %>
                    <% record = records[index] %>
                    <% if record %>
                      <%= record.data %>
                      <% if field.sum %>
                        <% @sum[field.id] += record.data.to_i %>
                      <% end %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
