<p id="notice"><%= notice %></p>

<h2><i class="glyphicon glyphicon-time"></i> Historique</h2>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Utilisateur</th>
      <th>Colonne</th>
      <th>Modification</th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= l(log.created_at) %></td>
        <td><%= log.user.name %></td>
        <td><%= log.field.name %></td>
        <td><%= log.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

