<tr>
    <td><%= i + 1 %></td>
    <td><%= field.name %></td>
    <td>
        <%= field.datatype %>
        <%= "= #{field.items}" unless field.items.blank? %>
    </td>
    <td>
        <% if field.filtre %><i class="glyphicon glyphicon-zoom-in"></i> Filtre<% end %>
        <% if field.sum %><i class="glyphicon glyphicon-plus"></i> Somme<% end %>
    </td>
    <td>
        <%= link_to 'Modifier', edit_field_path(field), class: 'btn btn-info btn-xs' %>
    	<%= link_to '[X]', field, method: :delete, data: { confirm: 'Vraiment ?' }, class: 'btn btn-danger btn-xs' %>
    </td>
</tr>
