<script>
  $(document).ready(function(){
    $("#field_items").css('display','none')

    if($('#field_datatype').val() == "liste" || $('#field_datatype').val() == "formule"){
      $("#field_items").css('display','inline')
    } 

    $('#field_datatype').change(function(){
      if($('#field_datatype').val() == "liste"){
          $("#field_items").css('display','inline')
          $("#field_items").attr('placeholder','Entrez les éléments de la liste séparés par une virgule')
       } else {
          if($('#field_datatype').val() == "formule"){
              $("#field_items").css('display','inline')
              $("#field_items").attr('placeholder',"Entrez une formule (ex: [1]+[2] pour additionner la colonne #1 avec la colonne #2)")
           } else {
              $("#field_items").css('display','none')
           }
       }
    })

    $(".field_sum").css('display','none')
    if($('#field_datatype').val() == "nombre" || $('#field_datatype').val() == "euros"){
      $(".field_sum").css('display','inline')
    }
    $('#field_datatype').change(function(){
      if($('#field_datatype').val() == "nombre" || $('#field_datatype').val() == "euros"){
          $(".field_sum").css('display','inline')
       } else {
          $(".field_sum").css('display','none')
       }
    })

  });
</script>

<%= form_for(@field) do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', count: @field.errors.count) %></h2>

      <ul>
        <% @field.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :table_id %>

    <%= f.label :name, "Nom" %><br>
    <%= f.text_field :name %><br><br>

    <%= f.label :name, "Type" %><br>
    <%= f.select :datatype, options_for_select(Field.datatypes.keys.to_a, @field.datatype) %>
    <%= f.text_field :items, size:70  %><br><br>
    
    <%= f.label :name, "Options" %><br>
    <%= f.check_box :obligatoire %> Obligatoire ?<br>
    <%= f.check_box :filtre %> Filtre ?<br>

    <div class="field_sum">
      <%= f.check_box :sum %> Cumul ?<br>
    </div>
    <br>

    <%= f.submit @field.new_record? ? "Créer cette colonne" : "Modifier", class: 'btn btn-success' %>
  </div>
<% end %>
