<%= form_for(@field) do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', count: @field.errors.count) %></h2>

      <ul>
        <% @field.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :table_id %>

    <%= f.label :name, "Nom" %><br>
    <%= f.text_field :name %><br><br>

    <%= f.label :name, "Type" %><br>
    <%= f.select :datatype, options_for_select(Field.datatypes.keys.to_a, @field.datatype) %>
    <%= f.text_field :items, size:70  %><br><br>
    
    <%= f.label :name, "Options" %><br>
    <%= f.check_box :obligatoire %> Obligatoire ?<br>
    <%= f.check_box :filtre %> Filtre ?<br>

    <div class="field_sum">
      <%= f.check_box :sum %> Cumul ?<br>
    </div>
    <br>
    <% if @field.new_record? %>
      <%= f.submit "Créer cette colonne", class: 'btn btn-success' %>
    <% else %>  
      <%= f.submit "Modifier", class: 'btn btn-success' %>
      | <%= link_to 'Retour',  show_attrs_path(id:@field.table)  %>
    <% end %>
  </div>
<% end %>
